# OpenRouter API Key: For OpenRouter GPT-Audio and Speech synthesis
OPENROUTER_API_KEY="sk-or-v1-xxxxxxxxxxxxxxxxxxxx"

# GEMINI_API_KEY: Optional for Gemini AI TTS
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: Optional host URL
APP_URL="http://localhost:3000"
